.steps {
    background-color: #c2e5f2;
    padding: 3rem;
    margin: 3rem 15rem;
}

.steps>h3 {
    color: rgb(22, 30, 52);
}

.form-div {
    background-color: #98d7ed;
    padding: 3rem;
    margin: 1rem;
}

.list-div {
    background-color: #63c9ef;
    padding: 3rem;
    margin: 1rem;
}